<%if(typeof error != 'undefined'){%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Modal -->
    <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container dflex align-items-center m-t5">

                        <div class="alert alert-danger" role="alert">
                            <h4 class="alert-heading">Error</h4>
                            <p>
                                <%=error%>
                            </p>
                            <hr>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $("#exampleModal").modal('show');
        });
    </script>


    <%}else if(typeof alerta != 'undefined'){%>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- Modal -->
        <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container dflex align-items-center m-t5">

                            <div class="alert alert-primary" role="alert">
                                <h4 class="alert-heading">Atención!</h4>
                                <p>
                                    <%=alerta%>
                                </p>
                                <hr>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                $("#exampleModal").modal('show');
            });
        </script>


        <%}%>