<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Gestión de funcionarios</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <form class="row g-3" action="/admin/gestionFuncionarios" method="get">
                            <div class="col-auto">
                                <button type="submit" class="btn btn-dark mb-3">Funcionarios</button>
                            </div>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form class="row g-3" action="/admin/gestionEstacionamientos" method="put">
                            <div class="col-auto">
                                <button type="submit" class="btn btn-dark mb-3">Estacionamientos</button>
                            </div>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form class="row g-3" action="/admin/reportes" method="get">
                            <div class="col-auto">
                                <button type="submit" class="btn btn-dark mb-3">Reportes</button>
                            </div>
                        </form>
                    </li>
            </div>
        </div>
    </nav>
</body>