<%- include ('partials/_headerAdmin')  %>
    <div class="container d-flex justify-content-center">
        <div class="card text-center m-3  ">
            <div class="card-header">
                Gestión de placas
            </div>
            <div class="card-body text-center">
                <div class="mx-auto">
                    <a class="btn btn-primary mx-auto mb-4" href="#" role="button">Agregar nueva placa</a>
                </div>
                <div class="mx-auto">
                    <a class="btn btn-primary mx-auto mb-4" href="edicionEstacionamientos" role="button">Consultar placas</a>
                </div>
            </div>
        </div>
    </div>


    <%- include ('partials/_footerAdmin')  %>