<%- include ('partials/_headerAdmin')  %>
<%- include ('partials/_alertas')  %>
    <div class="container d-flex justify-content-center">
        <div class="card text-center m-5  ">
            <div class="card-header">
                Gestión de funcionarios
            </div>
            <div class="card-body text-center">
                <div class="d-grid gap-2 col-12 mx-auto my-4">
                    <a class="btn btn-primary mx-auto" href="/admin/registroFuncionario" role="button">Registrar un nuevo funcionario</a>
                </div>
                <div class="d-grid gap-2 col-12 mx-auto my-4">
                    <a class="btn btn-primary mx-auto" href="/admin/edicionFuncionarios" role="button">Mostrar todos los funcionarios</a>
                </div>
            </div>
        </div>
    </div>
<%- include ('partials/_footerAdmin')  %>