<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Gestion Usuarios</title>
</head>


<body>

    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="container d-flex justify-content-center">
                    <div class="card text-center m-3  ">
                        <div class="card-header">
                            Gestión de estacionamientos
                        </div>
                        <div class="card-body text-center">
                            <div class="mx-auto">
                                <a class="btn btn-primary mx-auto mb-4" href="/registroEstacionamiento" role="button">Agregar nuevo estacionamiento</a>
                            </div>
                            <div class="mx-auto">
                                <a class="btn btn-primary mx-auto mb-4" href="/edicionEstacionamientos" role="button">Consultar estacionamientos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">

                <div class="container d-flex justify-content-center">
                    <div class="card text-center m-3  ">
                        <div class="card-header">
                            Gestión de placas
                        </div>
                        <div class="card-body text-center">
                            <div class="mx-auto">
                                <a class="btn btn-primary mx-auto mb-4" href="#" role="button">Agregar nueva placa</a>
                            </div>
                            <div class="mx-auto">
                                <a class="btn btn-primary mx-auto mb-4" href="edicionEstacionamientos" role="button">Consultar placas</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="container d-flex justify-content-center">
                    <div class="card text-center m-3  ">
                        <div class="card-header">
                            Gestión de usuarios
                        </div>
                        <div class="card-body text-center">
                            <label for="combo">Elige un departamento para mostrar:</label>
                            <div class="dropdown my-2 mb-4" id="combo">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              Dropdown button
                            </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </div>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <a class="btn btn-primary mx-auto" href="admin/registroFuncionario" role="button">Agregar nuevo funcionario</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>