<%- include ('partials/_headerAdmin')  %>
    <div class="container my-4 d-flex justify-content-center">

        <form>

            <div class="mb-3">
                <label for="a" class="form-label">Hola</label>
                <input type="text" class="form-control" id="a">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <%- include ('partials/_footerAdmin')  %>