<%- include ('partials/_headerAdmin')  %>
    <div class="container d-flex content-center">
        <div class="row">
            <div class="col-3">
                <form action="reporteGrafica" method="get">
                    <button type="submit" class="btn btn-primary">Reporte franjas horarias</button>
                </form>

            </div>
            <div class="col-3">

            </div>
            <div class="col-3">

            </div>
            <div class="col-3">

            </div>

        </div>

    </div>


    <%- include ('partials/_footerAdmin')  %>